<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6 col-md-6 col-12 con">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <mat-toolbar style="background-color: #312D2A;">
                        <mat-toolbar-row>
                            <span class="example-spacer"></span>
                            <a class="navbar-brand">
                                <img src="assets/img/oracle-nuevo-logo.jpg" width="50" height="30" alt="">
                            </a>
                        </mat-toolbar-row>
                    </mat-toolbar>
                </div>
                <br><br>
                <div class="row justify-content-center">
                    <h1 class="text">Welcome</h1>
                </div>
                <br><br><br><br><br><br>
                <br><br><br><br>
                <div class="row justify-content-center">
                    <form class="form">
                        <mat-form-field class="form-full-width" appearance="fill" style="background-color: #36322F; color: white;">
                            <mat-label style="color: white;">Email</mat-label>
                            <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                                   placeholder="pat@example.com">
                            <!-- <mat-hint style="color: white;">Please insert an email !</mat-hint> -->
                            <mat-error *ngIf="emailFormControl.hasError('email')" style="color: #ff5100; font-size: medium;">
                              Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="emailFormControl.hasError('required')" style="color: #ff5100; font-size: medium;">
                              Email is required
                            </mat-error>
                        </mat-form-field>
                        <br><br>
                        <div style="display: flex; justify-content: flex-end;">
                            <button mat-button style="color: gray;" (click)="gotoForgot()">Forgot password?</button>
                        </div>
                        <mat-form-field class="form-full-width" appearance="fill" style="background-color: #36322F; color: white;">
                            <mat-label style="color: white;">Enter your password</mat-label>
                            <input matInput [formControl]="password"  [type]="hide ? 'password' : 'text'" placeholder="12345678" minlength="8">
                            <!-- <mat-hint style="color: white;">Password must be 8 characters</mat-hint> -->
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="password.hasError('required')" style="color: #ff5100; font-size: medium;">
                                Password is required
                            </mat-error>
                            <mat-error *ngIf="password.errors?.minlength" style="color: #ff5100; font-size: medium;">
                                Password must be 8 characters
                            </mat-error>
                        </mat-form-field>
                        <br><br><br>
                        <div class="row justify-content-center">
                            <div class="col-xl-5 col-md-6 col-12">
                                <button mat-stroked-button style="background-color: white; width: 6vw;" color="primary" (click)="gotoSignIn()">Sign in</button>
                            </div>
                            <div class="col-xl-5 col-md-6 col-12">
                                <button mat-button style="color: white; font-size: larger;" (click)="gotoSignUp()">Create new account?</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-md-6 col-12 align-self-center">
            <div class="container-fluid">
                <img class="logo" src="assets/img/Oracle.png">
            </div>
        </div>
    </div>
</div>