.con {
    background-color: #312D2A;
    height: 100vh;
    width:  100vw;
    /* height: 1000px; */
    /* width: auto; */
}

.logo {
    height: 50vh;
    width: 45vw;
}

.text {
    font-family: Georgia;
    /* font-size: 8rem; */
    color: white;
}

.labels {
    color: white;
}

input[type=email], select {
    width: 100%;
}

.not-empty-select.mat-selected {
    color: white !important;
}

:host /deep/ .mat-select-value-text {
    color: white !important;
}
.form {
    text-align: center;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
  
.form-full-width {
    width: 100%;
}

.mat-input-element::placeholder{
    color: white !important;
}

::ng-deep .mat-form-field-underline .mat-form-field-ripple{
    background-color: white !important;
}
  
::ng-deep .mat-form-field-underline{
    background-color:  white !important;
}

.example-spacer {
    flex: 1 1 auto;
}

@media only screen and (max-width: 500px) {
    .text {
        font-size: 2rem;
    }
    .logo {
        height: 50vh;
        width: 80vw;
    }
}