<div class="container-fluid">
    <!-- justify-content-md-center -->
    <div class="row">
        <div class="col-xl-6 col-md-6 col-12 con">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row justify-content-center">
                            <!-- Just an image -->
                            <mat-toolbar style="background-color: #312D2A;">
                                <mat-toolbar-row>
                                    <a class="navbar-brand" href="/">
                                        <i class="bi bi-arrow-left-square" style="color: white; font-size: 2.2rem;"></i>
                                    </a>
                                    <span class="example-spacer"></span>
                                    <a class="navbar-brand">
                                        <img src="assets/img/oracle-nuevo-logo.jpg" width="50" height="30" alt="">
                                    </a>
                                </mat-toolbar-row>
                            </mat-toolbar>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="row justify-content-center">
                    <h1 class="text" style="font-size: 4rem;">Welcome to register</h1>
                </div>
                <br>
                <div class="row justify-content-center">
                    <h4 class="text" style="font-size: 2rem;">Please enter your data</h4>
                </div>
                <br><br><br>
                <div class="row justify-content-center">
                    <form class="form">
                        <mat-form-field class="form-full-width" appearance="fill" style="background-color: #36322F; color: white;">
                            <mat-label style="color: white;">Name</mat-label>
                            <input matInput placeholder="Edward J. Hassett" [formControl]="name">
                            <mat-error *ngIf="name.hasError('required')" style="color: #ff5100; font-size: medium;">
                                Name is required
                            </mat-error>
                        </mat-form-field>
                        <br><br>
                        <mat-form-field class="form-full-width" appearance="fill" style="background-color: #36322F; color: white;">
                            <mat-label style="color: white;">Team</mat-label>
                            <mat-select [formControl]="team" style="color: white;">
                                <mat-option *ngFor="let item of teams" [value]="item.id">{{item.tname}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="name.hasError('required')" style="color: #ff5100; font-size: medium;">
                                Team is required
                            </mat-error>
                        </mat-form-field>
                        <br><br>
                        <mat-form-field class="form-full-width" appearance="fill" style="background-color: #36322F; color: white;">
                            <mat-label style="color: white;">Role</mat-label>
                            <mat-select [formControl]="role" style="color: white;">
                                <mat-option *ngFor="let item of roles" [value]="item.id">{{item.rname}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="name.hasError('required')" style="color: #ff5100; font-size: medium;">
                                Role is required
                            </mat-error>
                        </mat-form-field>
                        <br><br>
                        <mat-form-field class="form-full-width" appearance="fill" style="background-color: #36322F; color: white;">
                            <mat-label style="color: white;">Email</mat-label>
                            <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                                   placeholder="pat@example.com">
                            <mat-error *ngIf="emailFormControl.hasError('email')" style="color: #ff5100; font-size: medium;">
                              Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="emailFormControl.hasError('required')" style="color: #ff5100; font-size: medium;">
                              Email is required
                            </mat-error>
                        </mat-form-field>
                        <br><br>
                        <mat-form-field class="form-full-width" appearance="fill" style="background-color: #36322F; color: white;">
                            <mat-label style="color: white;">Enter your password</mat-label>
                            <input matInput [formControl]="password"  [type]="hide ? 'password' : 'text'" placeholder="12345678" minlength="8">
                            <mat-hint style="color: white;">Password must be 8 characters</mat-hint>
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="password.hasError('required')" style="color: #ff5100; font-size: medium;">
                                Password is required
                            </mat-error>
                            <mat-error *ngIf="password.hasError('pattern')" style="color: #ff5100; font-size: medium;">
                                Not a strong password (Ex. P4ssWOrd@) and at least 8 characters
                            </mat-error>
                            <mat-error *ngIf="password.errors?.minlength" style="color: #ff5100; font-size: medium;">
                                Password must be 8 characters
                            </mat-error>
                        </mat-form-field>
                        <br><br>
                        <mat-form-field class="form-full-width" appearance="fill" style="background-color: #36322F; color: white;">
                            <mat-label style="color: white;">Confirm your password</mat-label>
                            <input matInput [formControl]="password2"  [type]="hide2 ? 'password' : 'text'" placeholder="12345678" minlength="8">
                            <mat-hint style="color: white;">Password must be 8 characters</mat-hint>
                            <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                              <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="password2.hasError('required')" style="color: #ff5100; font-size: medium;">
                                Confirm password is required
                            </mat-error>
                            <mat-error *ngIf="password2.hasError('pattern')" style="color: #ff5100; font-size: medium;">
                                Not a strong password (Ex. P4ssWOrd@) and at least 8 characters
                            </mat-error>
                            <mat-error *ngIf="password2.errors?.minlength" style="color: #ff5100; font-size: medium;">
                                Confirm password must be 8 characters
                            </mat-error>
                        </mat-form-field>
                        <br><br><br>
                        <div class="row justify-content-center">
                            <div class="col-xl-5 col-md-6 col-12">
                                <button mat-stroked-button style="background-color: white; width: 8vw;" color="primary" (click)="gotoSignIn()">Create Account</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-md-6 col-12 align-self-center">
            <div class="container-fluid">
                <img class="logo" src="assets/img/Oracle.png">
            </div>
        </div>
    </div>
</div>